{% extends 'doctor_page/doctor_base.html' %} {% block content %}
<div class="container-fluid">
  <h6>Welcome: {{ request.user.first_name }}</h6>
  {% if messages %}
  <div class="alert alert-info">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  
{% if is_radiologist %}
  <div class="dropdown mb-3">
    <button class="btn btn-primary dropdown-toggle" type="button" id="previousResultsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Radiology Page
    </button>
    <ul class="dropdown-menu" aria-labelledby="previousResultsDropdown">
      <li>
        <a class="dropdown-item" href="{% url 'radiologist_page' %}"> Radiology Requests(New)</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'previous_radiology_results' %}">  Inpatient Results(Old)</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'previous_walkin_radiology_results' %}"> Walkin Results(Old)</a>
      </li>
    </ul>
  </div>
{% else %}
  <!-- <h5>Hello Doctor</h5> -->
{% endif %}



</div>
<div class="container-fluid">
  <h3 class="mt-4 text-center">Assigned Patients</h3>

  <div class="container">
    <div class="col">
      <table class="table table-striped table-hover table-bordered">
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Full Name</th>
          <th scope="col">Assignment Status</th>
          <th scope="col">Time Assigned</th>
          <th scope="col" style="text-align: center">Actions</th>
        </tr>

        {% for patient in assigned_patients %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ patient.patient.full_name }}</td>
          <td>{{ patient.assignment_status }}</td>
          <td>{{ patient.time_assigned }}</td>
          <td>
            {% if patient.assignment_status == "accepted" %}
            <a
              href="{% url 'patient_detail' patient.patient.id %}"
              class="btn btn-success btn-sm text-white"
            >
              Patient Details
            </a>
            {% else %}
            <a
              href="{% url 'accept_assignment' patient.patient.id %}"
              class="btn btn-success btn-sm text-white"
            >
              Accept
            </a>
            <a
              href="{% url 'reject_assignment' patient.patient.id %}"
              class="btn btn-danger btn-sm"
            >
              Reject
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  {% endblock %}
</div>
