{% extends 'receptionist_page/receptionist_base.html' %}
{% block content %}

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="fw-bold text-primary">🏥 Admission Details</h4>
      <div class="text-end mt-4">
    <a href="{% url 'discharge_patient' patient.admissions.last.id %}"
      class="btn btn-outline-danger btn-sm">
      Discharge Patient
    </a>
    <a href="{% url 'inpatient_management' %}" class="btn btn-secondary btn-sm">
      <i class="bi bi-arrow-left"></i> Back to Inpatient List
    </a>
  </div>
  </div>

  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h5 class="text-dark mb-3">👤 Patient: <strong>{{ patient.full_name }}</strong></h5>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Card Number:</strong> {{ patient.card_number }}</p>
          <p><strong>Gender:</strong> {{ patient.get_gender_display }}</p>
          <p><strong>Phone:</strong> {{ patient.phone_number }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Ward:</strong> {{ admission.ward.name }}</p>
          <p><strong>Bed:</strong> {{ admission.bed.bed_number }}</p>
          <p><strong>Attending Doctor:</strong> {{ admission.attending_doctor.get_full_name }}</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <p><strong>Admission Date:</strong> {{ admission.admission_date|date:"Y-m-d H:i" }}</p>
          <p><strong>Status:</strong>
            <span class="badge bg-success">{{ admission.status }}</span>
          </p>
        </div>
        <div class="col-md-6">
          <p><strong>Daily Rate:</strong> {{ admission.ward.daily_rate }} ETB / day</p>
          <p><strong>Estimated Room Charge:</strong> {{ admission.room_charge }} ETB</p>
        </div>
      </div>

      {% if admission.diagnosis %}
      <div class="mt-3">
        <p><strong>Diagnosis / Reason for Admission:</strong></p>
        <p class="text-muted">{{ admission.diagnosis }}</p>
      </div>
      {% endif %}

      {% if admission.notes %}
      <div class="mt-3">
        <p><strong>Notes:</strong></p>
        <p class="text-muted">{{ admission.notes }}</p>
      </div>
      {% endif %}
    </div>
  </div>

 
</div>

{% endblock %}
