{% extends 'receptionist_page/receptionist_base.html'%} {% block content %}


<h6>Welcome: {{ user.first_name }}</h6>

{% if messages %}
<div class="alert alert-info">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

<div class="container-fluid my-2">
  <div class="d-flex flex-wrap gap-2">
    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#addPatientModal">
      Register New Patient
    </button>

    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#searchPatientModal">
      Search Existing Patient
    </button>

    <a href="{%url 'assigned_patients'%}" class="btn btn-outline-danger btn-sm">Assigned Patients</a>
    <a href="{%url 'pending_orders'%}" class="btn btn-outline-danger btn-sm">Pending Payments</a>
    <a href="{%url 'walkin_services'%}" class="btn btn-outline-danger btn-sm">Walk-In Services</a>
    <a href="{% url 'appointments' %}" class="btn btn-outline-danger btn-sm">📅 View Appointments</a>
    <a href="{% url 'inpatient_management' %}" class="btn btn-outline-danger btn-sm">Inpatients Management</a>

  </div>
</div>

<!-- Modal for searching existing patient -->
<div class="modal fade" id="searchPatientModal" tabindex="-1" aria-labelledby="searchPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'search_patient' %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="searchPatientModalLabel">Search patient</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" name="phone_number" placeholder="Enter phone number" />
          <input type="text" name="patient_name" placeholder="Enter patient name" />
          <input type="number" name="mrn" placeholder="Enter MRN" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-danger btn-sm">Search Patient</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal For Adding new Patient -->
<div class="modal fade" id="addPatientModal" tabindex="-1" aria-labelledby="addPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{% url 'register_patient' %}">
        {% csrf_token %}
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="addPatientModalLabel">
            Please Collect {{registration_fee}} Birr For registration
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-danger btn-sm">Add Patient</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- table For Recent Patients Table -->
<div class="container-fluid">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">MRN</th>
            <th scope="col">Full Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Assignment</th>
            <th scope="col">Vitals</th>
            <th scope="col">Update</th>
            <th scope="col">Prescriptions</th>
            <th scope="col">Appointment</th>
            <th scope="col">Admission</th>
        
          </tr>
        </thead>
        <tbody>
          {% for patient in page_obj %}
          <tr>
            <td>{{ start_index|add:forloop.counter }}</td>
            <td>{{ patient.card_number }}</td>
            <td>{{ patient.full_name }}</td>
            <td>{{ patient.phone_number }}</td>
            <td>
              {% if patient.is_assigned_to_doctor %}
              <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#transferassignPatientModal{{ patient.id }}">
               Transfer Assignment</button>
              {% else %}
                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#assignPatientModal{{ patient.id }}">
                  Assign Patient
                </button>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'vitals' patient.id %}" class="btn btn-outline-success btn-sm btn-sm">Vitals</a>
            </td>
            <td>
              <form method="post" action="{% url 'update_patient' patient.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success btn-sm btn-sm">Update</button>
              </form>
            </td>
            <td>
              <form method="post" action="{% url 'prescriptions' patient.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success btn-sm btn-sm">View Prescriptions</button>
              </form>
            </td>
            <td>
              <a href="{% url 'create_appointment' patient.id %}"
                 class="btn btn-outline-success btn-sm">Schedule</a>
            </td>
<td>
  {% if patient.patient_type == 'inpatient' and patient..exists %}
    <!-- Already admitted -->
    <a href="{% url 'admission_detail' patient.admissions.last.id %}" 
       class="btn btn-outline-success btn-sm">
      Admission Details
    </a>

  {% elif patient.admission_requested %}
    <!-- Pending admission request -->
    <a href="{% url 'start_admission' patient.id %}" class="btn btn-outline-primary btn-sm">
      Start Admission
    </a>

  {% else %}
    <!-- No admission request -->
    <button class="btn btn-outline-secondary btn-sm" disabled>
      No Admission Request
    </button>
  {% endif %}
</td>


          </tr>
          <!-- Modal for Assigning Patient -->
          <div class="modal fade" id="assignPatientModal{{ patient.id }}" tabindex="-1" aria-labelledby="assignPatientModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <form method="POST" action="{% url 'assign_patient' patient.id %}">
                  {% csrf_token %}
                  <div class="modal-header">
                    <h6 class="modal-title" id="assignPatientModalLabel">Assigning {{ patient.full_name }} to</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <select name="doctor" id="doctor" required>
                        <option value="">Select Doctor</option>
                        {% for doctor in doctors %}
                        <option value="{{ doctor.id }}">{{ doctor.get_full_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Assign</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
            <!-- Modal for Transferring Assigning Patient -->
            <div class="modal fade" id="transferassignPatientModal{{ patient.id }}" tabindex="-1" aria-labelledby="transfer assignPatientModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form method="POST" action="{%url 'transfer_assign_patient' patient.id%}">
                    {% csrf_token %}
                    <div class="modal-header">
                      <h6 class="modal-title" id="transfer assignPatientModalLabel">transfer Assigning {{ patient.full_name }} to</h6>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="mb-3">
                        <select name="doctor" id="doctor" required>
                          <option value="">Select Doctor</option>
                          {% for doctor in doctors %}
                          <option value="{{ doctor.id }}">{{ doctor }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">transfer Assign</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
</div>
      <!-- table For Existing Patients Table -->
{% if searched_page_objs %}
<div class="container-fluid">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">MRN</th>
            <th scope="col">Full Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Last Visit Date</th>
            <th scope="col">Activate patient</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in searched_page_objs %}
          <tr>
            <td>{{forloop.counter }}</td>
            <td>{{ patient.card_number }}</td>
            <td>{{ patient.full_name }}</td>
            <td>{{ patient.phone_number }}</td>
            <td>{{ patient.activated_date }}</td>
            
    <td>
      <form method="post" action="{% url 'activate_patient' patient.id %}" 
            onsubmit="return confirmActivation('{{ patient.full_name }}');">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm">Activate</button>
      </form>
    </td>

    <script>
    function confirmActivation(name) {
      return confirm(`If  ${name}'s last Visit was more than 15 days, please collect.`);{{registration_fee}}}
    </script>

          </tr>
          {% endfor %}
          {% endif %}
    </div>
  </div>
</div>
<!-- Pagination -->
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">&laquo; First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">Previous</a>
        </li>
      {% endif %}

      <li class="page-item disabled">
        <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      </li>

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">Next</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">Last &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}


