<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Summary</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </head>
  <body>
    <div class="container mt-4">
      <h2 class="mb-4 text-center">Selected Tests & Total Price</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Test Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for test, price in selected_tests %}
          <tr>
            <td>{{ test }}</td>
            <td>${{ price }}</td>
          </tr>
          {% endfor %}
          <tr>
            <th>Total Price</th>
            <th>${{ total_price }}</th>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
