{% extends 'receptionist_page/receptionist_base.html' %} {% block content %}
<div class="container-fluid mt-5">
  <h2 class="mb-4">Walk-in Services</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <a href="{% url 'walkin_vitals_only' %}" class="text-decoration-none">
        <div class="card shadow-sm border-0 bg-light h-100 hover-shadow">
          <div class="card-body">
            <h5 class="card-title">🩺 Vitals Only</h5>
            <p class="card-text text-muted">
              Quick check-up without full consultation.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a
        href="{% url 'walkin_lab_and_imaging_test' %}"
        class="text-decoration-none"
      >
        <div class="card shadow-sm border-0 bg-light h-100 hover-shadow">
          <div class="card-body">
            <h5 class="card-title">🔬 Lab Tests & 🖼️ Imaging Tests</h5>
            <p class="card-text text-muted">
              Lab examinations, & Imaging services..
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a
        href="{% url 'walkin_general_consultation' %}"
        class="text-decoration-none"
      >
        <div class="card shadow-sm border-0 bg-light h-100 hover-shadow">
          <div class="card-body">
            <h5 class="card-title">🗒️ General Consultation</h5>
            <p class="card-text text-muted">
              Talk with a physician for general health issues.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a
        href="{% url 'walkin_injection_service' %}"
        class="text-decoration-none"
      >
        <div class="card shadow-sm border-0 bg-light h-100 hover-shadow">
          <div class="card-body">
            <h5 class="card-title">💉 Injection / IV Service</h5>
            <p class="card-text text-muted">
              Receive prescribed injections or IV fluids.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<style>
  .hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
  }
</style>
{% endblock %}
