<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{company_name}}</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }

      .list-group-item {
        border: none;
      }
      .list-group-item:hover {
        background-color: #575549;
      }

      .hamburger {
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
        outline: none;
      }
      .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #000;
        margin: 5px 0;
      }
    </style>
  </head>

  <body>
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!-- Brand or Title -->
        <a class="navbar-brand" href="/doctor_view/"> {{company_name}} </a>

        <!-- Collapsible Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/doctor_view/">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
            <li class="nav-item">
              <form
                  action="{% url 'logout' %}"
                  method="post"
                  style="display: inline"
                >
                  {% csrf_token %}
                  <button type="submit" class="nav-link btn btn-link">
                    Logout
                  </button>
                </form>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <!-- Main Content Area -->
          <div>{% block content %} {% endblock %}</div>
        </div>
      </div>
    </div>
  </body>
</html>
