{% extends 'admin_page/admin_base.html'%} {% block content %}
<div class="container-fluid">
  <h6 class="mt-4">Welcome {{ request.user.first_name }}</h6>
  {% if messages %}
  <div class="alert alert-info">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
<style>
  .card-hover {
    transition: all 0.3s ease;
  }

  .card-hover:hover {
    transform: translateY(-5px);
  }

  .card-hover.border-primary:hover {
    background-color: rgba(0, 123, 255, 0.1);
  }

  .card-hover.border-success:hover {
    background-color: rgba(40, 167, 69, 0.1);
  }

  .card-hover.border-warning:hover {
    background-color: rgba(255, 193, 7, 0.1);
  }

  .card-hover.border-danger:hover {
    background-color: rgba(220, 53, 69, 0.1);
  }
</style>

<div class="row">
  <div class="col-md-3">
    <a href="{% url 'users_management' %}" style="text-decoration: none">
      <div class="card border-primary mb-4 card-hover">
        <div class="card-body text-primary">
          <h5 class="card-title">Total Users</h5>
          <p class="card-text">{{ users_count }}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{% url 'total_awaiting_patients' %}" style="text-decoration: none">
      <div class="card border-success mb-4 card-hover">
        <div class="card-body text-success">
          <h5 class="card-title">Active Patients</h5>
          <p class="card-text">{{ ative_patients }}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="{% url 'patients' %}" style="text-decoration: none">
      <div class="card border-warning mb-4 card-hover">
        <div class="card-body text-warning">
          <h5 class="card-title">Total Patients</h5>
          <p class="card-text">{{ patients }}</p>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <div class="card border-danger mb-4 card-hover">
      <div class="card-body text-danger">
        <h5 class="card-title">Pending Lab</h5>
        <p class="card-text">{{ pending_lab_investigations }}</p>
      </div>
    </div>
  </div>
</div>

  <h3>Recent Activities</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Patient</th>
        <th>Action</th>
        <th>Previous Value</th>
        <th>New Value</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for activity in recent_activities %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ activity.patient }}</td>
          <td>{{ activity.action_type }}</td>
        <td>{{ activity.previous_val }}</td>
        <td>{{ activity.new_val }}</td>
        <td>{{ activity.registered_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
