<!-- templates/registration/password_change_done.html -->
{% extends 'pass_change_style.html' %}  <!-- This must be the first tag -->

{% load static %}

{% block title %}Password Changed{% endblock %}

{% block content %}
    <p>Password changed successfully.</p>
    <p>Login with your new password.</p>
    <script>
        setTimeout(function() {
            window.location.href = "/accounts/login/";  // Redirect after a delay
        }, 5000);  // 2 seconds delay
    </script>
{% endblock %}
